*{
	padding: 0;
	margin: 0;
}
.header{
	width: 970px;
	height: 103px;
	margin: 0 auto;
}
.header .logo{
	float: left;
	width: 277px;
	height: 103px;
	background-color: rgb(255,0,0);
}
.header .nav-lan{
	float: left;
	width: 679px;
	height: 103px;
	margin-left: 14px;
}
.header .nav-lan .language{
	float:right;
	width: 137px;
	height: 49px;
	background-color: rgb(0,255,0);
}
.header .nav-lan .nav{
	float: right;
    width: 679px;
    height: 46px;
    margin-top: 8px;
    background-color: rgb(0, 255, 0);

}
.center{
	width: 970px;
	height: 435px;
	margin: 0 auto;
	margin-top: 10px;
	
}
.center .zhongzuo{
	float: left;
	width: 310px;
	height: 435px;
	margin: 0 auto;
	margin-right: 10px;
	background-color: rgb(255,204,0);
}
.center .zhyou{
	float: left;
	width: 650px;
	height: 435px;
	margin: 0 auto;
}
.center .zhyou .zhyoush{
	width: 650px;
	height: 400px;
	margin: 0 auto;
	
}
.center .zhyou .zhyoush .zh-y-sh-z{
	float: left;
	width: 450px;
	height: 400px;
	margin: 0 auto;
	
	
}
.center .zhyou .zhyoush .zh-y-sh-z .zh-y-sh-z-sh{
	float: left;
	width: 450px;
	height: 240px;
	margin: 0 auto;
	margin-bottom: 10px;
    background-color: rgb(51,153,255);
}
.center .zhyou .zhyoush .zh-y-sh-z .zh-y-sh-z-zh{
	float: left;
	width: 450px;
	height: 110px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: rgb(51,153,255);

}
.center .zhyou .zhyoush .zh-y-sh-z .zh-y-sh-z-x{
	float: left;
	width: 450px;
	height: 30px;
	margin: 0 auto;
	background-color: rgb(51,153,255);
	
}
.center .zhyou .zhyoush .zh-y-sh-y{
	float: right;
	width: 190px;
	height: 400px;
	margin: 0 auto;
	margin-left: 10px;
	background-color: rgb(204,51,153);
}
.center .zhyou .zh-y-x{
	float: right;
	width: 650px;
	height: 25px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: rgb(51,153,0);
}
.footer{
	width: 970px;
	height: 35px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: rgb(0,0,153);
}






